/*
 De ce ai pus astea aici? Nu stau sa ma uit da daca imi explici de ce e ok.
 - 
*/
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}


/*
 Div-img nu e un nume ok
*/
.div-img {
  height: 100vh;
}

/*
 nume naspa
*/
.imag {
  height: 100vh;
  width: 100%;
}

/*
 nume naspa
*/
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
/*
 Cand ai multe linii de cod css organizeaza-le intr-un fel gen. Eu asa as face:

  
  position: fixed;
  z-index: 99;
  top: 10%;
  left: 0px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;

  width: 100px;
  height: 300px;
  padding: 0;
  margin: 0;

  background-color: rgba(0, 100, 256, 0.4);
  list-style-type: none;
*/
.menu {
  display: flex;
  padding: 0;
  margin: 0;
  position: fixed;
  flex-direction: column;
  width: 100px;
  height: 300px;
  background-color: rgba(0, 100, 256, 0.4);
  justify-content: space-around;
  top: 10%;
  left: 0px;
  list-style-type: none;
  z-index: 99;
}

/*
  Nume naspa. Incearca formatul:
    <ul class="nume-clasa">
      <li class="nume-clasa__entry">
        <img class="nume-clasa__thumbnail"> <-- asta on loc de .ball
      </li>
    </ul>
*/
.option {
  text-align: center;
}

.ball {
  width: 30px;
  height: 30px;
  transition: 0.3s ease-in-out;
  padding: 0;
  margin: 0;
}

.ball:hover {
  width: 50px;
  height: 50px;
}

/*
  Nume naspa.

  Fontul il pui la elementul care contine tot textul cu acelasi stil, in cazul asta este .menu
*/
.item {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: Merriweather;
  color: Black /* ai uitat un punct si virgula */
}

/*
  Nume naspa,

  La font trebuie sa pui mereu si familia, in cazul asta este serif.
  https://fonts.google.com/specimen/Merriweather?selection.family=Merriweather


  Nu mai pozitiona cu '%' fiindca '%' e mereu diferit in functie de rezolutie.
  Ori pozitionezi cu pixeli ori cu flexbox. In cazul asta poti sa ii dai bottom: 50px; sau cat vrei.

  Nu mai centra cu left si transform.
*/
.div-caption {
  position: absolute;
  top: 80%; /* Nu mai pozitiona cu % */
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: Merriweather; /* font-family: 'Merriweather', serif; */
  color: Black;
  z-index: 100;
}

/* Nu mai targeta taguri, mai bine faci o clasa si o aplici. Astfel codul este mai reutilizabil */
h2 { 
  margin: 0;
  padding: 32px 0;
  text-align: center;
  color: black;
  font-style: Merriweather; /* font-family: 'Merriweather', serif; */
  background-color: hsl(42, 97%, 53%); /* Foloseste rgba  */
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 40px;
  border-bottom: 2px solid .2b1c13;
}

/* Ai nume foarte generice la toate clasele, treci peste toate si incearca sa le redenumesti sa faca sens */
/* Daca ai o pagina mare si pui inca un 'wrapper' cum il denumesti? 'wrapper2'? Incearca ceva biography__wrapper.
Pastrezi functia elementului, dar ii dai si un scop.

Tutoriale de denumit:
http://getbem.com/naming/
https://css-tricks.com/bem-101/

*/
.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
}

.left-column {
  visibility: visible; /* nu iti trebuie asta, pui display: block in locu ei si stergi si visibility din media query */
  height: 1433px;
  width: 340px;
  padding-right: 50px;
}

.img-Hagi {
  visibility: visible;
}

.hagi-pic {
  width: 100%;
}

/* Nu mai targeta taguri */
h5 {
  font-size: 12px;
  border-bottom: 1px solid .e2d3cb; /* '#' nu punct */
  border-top: 1px dashed .e2d3cb; /* '#' nu punct */
  color: black;
  padding: 5px 0;
  display: block;
  font-size: 0.83em; /* Ai doua font size-uri */
  margin-block-start: 1.67em; /* Nu mai folosi astea, sunt prea avansate */
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* 
Nu mai targeta taguri, si mai jos aia foarte multi selectori care targeteaza taguri
*/
.left-column p {
  color: black;
  line-height: 20px;
}

.right-column {
  width: 65%;
  padding: 0;
  margin: 0;
}

.big {
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
}

.right-column p {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: black;
}

.bio h4 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; /* Ai 3 fonturi aiurea */
  font-size: 18px;
  border-bottom: 2px solid .e2d3cb; /* #  */
  border-top: 1px dashed .e2d3cb;
  color: black;
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.coaching-page {
  display: flex; /* Ii dai flex si nu faci nimic cu el? Daca folosesti optiunile default macar pune-le 
  sa fie codul mai citibil.  */
}

.box {
  height: 450px;
  flex-basis: 100%;
  overflow: hidden;
  box-shadow: inset 0 10px 60px rgba(0, 0, 0, .5);
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box; 
}

.tribute-link {
  text-align: center;
  margin-top: auto;
}

.box h3 {
  margin: 0;
  padding: 0 0 10px;
  color: Black;
  border-bottom: 2px solid .d76f38;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 400;
  word-wrap: break-word;
}

.box p {
  border-top: 1px solid .d76f38;
  font-size: 14px;
  line-height: 20px;
  color: Black;
  margin: 0;
  padding: 15px 0 0;
  width: 100%;
}

.badge {
  width: 150px;
  height: auto;
}

.side-info {
  display: flex;
  flex-direction: column;
}

/*
 Fii atent, ca sa nu fie prea mari media query-urile, poti organiza codul in sectiuni gen:

 1. Menu + Landing
  1b. Media Queries for #1
 2. Biography
  2b. Media Queries for #2

 etc.

 Si pui si commenturi intre sectiuni gen:
*/

/*****************
  BIOGRAPHY
*/


@media screen and (max-width:450px) {
  .coaching-page {
    flex-direction: column;
  }

  .menu {
    position: absolute;
    top: 5%; /* nu mai pozitiona cu % */
    width: 50px;
    height: 200px;
  }

  .ball {
    width: 20px;
    height: 20px;
  }

  .ball:hover {
    width: 30px;
    height: 30px;
  }

  .item {
    font-size: 10px;
  }

  .image {
    width: 350px;
    height: auto;
  }

  .div-caption {
    font-size: 30px;
    top: 80%;
    left: 18%;
    transform: translate(-0, -0); /* nu cred ca face sens asta? Nu stiu de ce iti trebuie, explica-mi daca ai idee. */
  }

  .left-column {
    visibility: hidden;
    display: none;
  }

  .wrapper {
    width: 90%; /* Nu inteleg de ce ai width: 90% si max-width in acelasi timp. TODO: Vezi la urm review */
    max-width: 1000vh; /* 1000 in loc de 100, as sta departe de max-width. Foloseste direct width: 100% */ 
    margin: 0 auto;
    padding: 0px; /* padding: 30px 0 0 0; ca sa ai 1 linie in loc de 2. Ordinea la padding: top right bottom left */
    padding-top: 30px; 
    display: flex;
  }

  .right-column {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width:451px) and (max-width:850px) {
  .image {
    width: 400px;
    height: auto;
  }

  .menu {
    position: absolute;
    top: 5%;
    width: 80px;
    height: 300px;
  }

  .div-caption {
    font-size: 30px;
    top: 80%;
    left: 50%;
    transform: translate(-80, -50);
  }

  .coaching-page {
    flex-wrap: wrap;
  }

  .box {
    flex: 0 50%;
  }

  .badge {
    width: 100px;
  }
}

@media screen and (min-width:851px) and (max-width:1050px) {
  .coaching-page {
    flex-wrap: wrap;
  }

  .box {
    flex: 0 50%;
  }
}

/* 
  Da codu prin https://jigsaw.w3.org/css-validator/ si o sa iti vezi gresilele.

  Fa rename la clase si sterge tot ce nu ai idee ce face, inca mai ai chestii de la copy paste si nu am
  atras atentia la toate ca sunt f multe. Sterge cat mai mult din cod pana ramana cat mai putin si stii
  sa explici tot ce face.

  Da fix la tot ce ti-am zis pls.
*/