body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* MAIN PAGE CSS*/
.main_page {
  height: 100vh;
}

.main_background {
  height: 100vh;
  width: 100%;
}

.title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.image_hagi {
  width: 50%;
  height: auto;
}

.image_caption {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: Merriweather;
  color: Black;
  margin: 0;
}

.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 10%;
  left: 0;
  z-index: 99;
  padding: 0;
  margin: 0;
  width: 100px;
  height: 300px;
  background-color: rgba(0, 100, 256, 0.4);
  list-style-type: none;
}

.menu_entry {
  text-align: center;
}

.menu_thumbnail {
  width: 30px;
  height: 30px;
  transition: 0.3s ease-in-out;
  padding: 0;
  margin: 0;
}

.menu_thumbnail:hover {
  width: 50px;
  height: 50px;
}

.menu_entry_caption {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: Merriweather;
  color: Black;
}

/* BIO PAGE CSS*/
h2 {
  margin: 0;
  padding: 32px 0;
  text-align: center;
  color: black;
  font-family: : Merriweather;
  background-color: hsl(42, 97%, 53%);
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 40px;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
}

.left-column {
  visibility: visible;
  height: 1433px;
  width: 340px;
  padding-right: 50px;
}

.bio_image {
  width: 100%;
}

h5 {
  font-size: 12px;
  color: black;
  padding: 5px 0;
  display: block;
  font-weight: bold;
}

.left-column p {
  color: black;
  line-height: 20px;
}

.right-column {
  width: 65%;
  padding: 0;
  margin: 0;
}

.description {
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
}

.right-column p {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: black;
}

#bio h4 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  color: black;
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* COACH PAGE CSS*/
.coaching-page {
  display: flex;
}

.box {
  height: 450px;
  flex-basis: 100%;
  overflow: hidden;
  box-shadow: inset 0 10px 60px rgba(0, 0, 0, .5);
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.tribute-link {
  text-align: center;
  margin-top: auto;
}

.box h3 {
  margin: 0 0 0 10px;
  padding: 0 0 10px;
  color: Black;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  word-wrap: break-word;
}

.box p {
  font-size: 14px;
  line-height: 20px;
  color: Black;
  margin: 0 0 10px 10px;
  padding: 15px 0 0;
  width: 100%;
}

.badge {
  width: 150px;
  height: auto;
}

.side-info {
  display: flex;
  flex-direction: column;
}

/* ACADEMY PAGE CSS*/

.academy_container{
  width: 90%;
  max-width: 1242px;
  padding: 50px 0;
  margin: 0 auto;
  display:flex;
}
.academy_box{
  width:33%;
  padding:0 20px;
}

#academy h3{
  margin: 0;
  padding: 0 0 10px;
  color: black;
  border-bottom: 2px solid black;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 400;
  word-wrap: break-word;
}
.academy_image{
  width: 100%;
  max-height: 198px;
  box-shadow: 2px 2px 3px rgba(0,0,0,.5);

}
#academy p{
    font-size: 14px;
    color: black;
    margin: 0;
    padding: 15px 0 0;
    line-height: 23px;
    text-align: left;

}
.academy_input{
    width:100%;
    border: 1px solid black;
    padding: 10px 0;
    font-size: 12px;
    margin-top: 20px;
}
.academy_button{
  float: right;
  background: hsl(42, 97%, 53%);
  border: 1px solid hsl(42, 97%, 53%);
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  margin-top:25px;
}
footer{
  background-color: hsl(42, 97%, 53%);
  line-height: 26px;
}
.footer_div{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.disclaimer{
  font-size: 13px;
}
@media screen and (max-width:450px) {
  .coaching-page {
    flex-direction: column;
  }

  .image_hagi {
    width: 70%;
  }

  .menu_container {
    position: absolute;
    top: 5%;
    width: 50px;
    height: 200px;
  }

  .menu_thumbnail {
    width: 20px;
    height: 20px;
  }

  .menu_thumbnail:hover {
    width: 30px;
    height: 30px;
  }

  .menu_entry_caption {
    font-size: 10px;
  }

  .image_caption {
    font-size: 30px;
    top: 80%;
    left: 18%;
    transform: translate(-0, -0);
  }

  .left-column {
    visibility: hidden;
    display: none;
  }

  .wrapper {
    width: 90%;
    max-width: 1000vh;
    margin: 0 auto;
    padding: 0px;
    padding-top: 30px;
    display: flex;
  }

  .right-column {
    width: 100%;
    text-align: center;
  }
  .academy_container{
    flex-direction: column;
  }
  .academy_box{
    width: 90vw;
    padding:0px;
    margin-bottom:25px;
    text-align: center;
  }
  #academy h3{
    font-weight: 600;
  }
  .copyright{
    margin-left: 20px;
    line-height: normal;
    font-size: 12px;
  }
  .disclaimer{
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    font-size:10px;
    line-height: normal;
  }
}

@media screen and (min-width:451px) and (max-width:850px) {
  .menu_container {
    position: absolute;
    top: 5%;
    width: 80px;
    height: 50%;
  }

  .image_hagi {
    width: 40%;
  }

  .image_caption {
    font-size: 35px;
  }

  .coaching-page {
    flex-wrap: wrap;
  }

  .box {
    flex: 0 50%;
  }

  .badge {
    width: 100px;
  }
}

@media screen and (min-width:851px) and (max-width:1050px) {
  .coaching-page {
    flex-wrap: wrap;
  }

  .box {
    flex: 0 50%;
  }
}
